/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Body */

body {
  font-family: 'Lato', sans-serif;
  background: #374954;
  color: #fff;
  overflow-x: hidden;
}


/* Navbar */

#navbar {
  z-index: 99;
  width: 100%;
  position: fixed;
  padding: 0px 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.4s ease-in-out;
  
}

#navbar img {
  width: 250px;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 0 0 20px;
  transition: 0.4s ease-in-out;
  image-rendering: -webkit-optimize-contrast;
}

.logo-a {
  transition: transition 0.5s;
}

#right-nav {
  float: right;
  list-style: none;
  font-size: 0;
  padding: 0;
  z-index: 99;
  margin: 0;
  line-height: 1;
}

#navbar li:not(.dropdown) {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  position: relative;
  text-align: center;
  max-width: 95px;
}

#navbar a:not(.logo-a):not(.icon):not(.a-dropdown):not(.a-dropdown2) {
  color: #fff;
  text-decoration: none;
  padding: 35px 20px; 
  min-width: 95px;
  display: block;
  transition: 0.4s ease-in-out;
  font-weight: 700;
}


#navbar #right-nav li a:not(.a-dropdown):not(.a-dropdown2):hover {
  color: #33b675;
  transition: 0.5s; 
}

#navbar a:not(.a-dropdown):not(.a-dropdown2):hover {
  color: #33b675;
  transition: 0.5s;
}

#marker {
  height: 6px;
  background: #3e8760 !important;
  position: absolute;
  margin-left: 380px;
  bottom: 0;
  width: 95px;
  z-index: 2;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}

.navbar-links {
  display: inline;
}

.drop {
  overflow: hidden;
  list-style: none;
  position: absolute;
  padding: 0;
  width: 100%;
  left: 0;
  top: 92px;
}

.drop div {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transition: all 0.5s 0.1s;
  -moz-transition: all 0.5s 0.1s;
  -ms-transition: all 0.5s 0.1s;
  transition: all 0.5s 0.1s;
  position: relative;
}
.drop li {
  display: block;
  padding: 0;
  width: 100%;
  background: #3E8760 !important;
}

.drop a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 5px;
}

.drop .a-dropdown2 {
  padding: 20px 5px;
}

.drop .a-dropdown:hover {
  background: rgb(37, 109, 71);
  color: rgb(95, 211, 149);
  transition: 0.5s;
}

.drop .a-dropdown2:hover {
  background: rgb(37, 109, 71);
  color: rgb(95, 211, 149);
  transition: 0.5s;
}

#right-nav li:nth-child(1):hover ~ #marker {
  -webkit-transform: translate(-380px, 0);
  -moz-transform: translate(-380px, 0);
  -ms-transform: translate(-380px, 0);
  transform: translate(-380px, 0);
}

#right-nav li:nth-child(2):hover ~ #marker {
  -webkit-transform: translate(-285px, 0);  
  -moz-transform: translate(-285px, 0);
  -ms-transform: translate(-285px, 0);
  transform: translate(-285px, 0);
}

#right-nav li:nth-child(5):hover ~ #marker {
  -webkit-transform: translate(-190px, 0);
  -moz-transform: translate(-190px, 0);
  -ms-transform: translate(-190px, 0);
  transform: translate(-190px, 0);
}

#right-nav li:nth-child(8):hover ~ #marker {
  -webkit-transform: translate(-95px, 0);
  -moz-transform: translate(-95px, 0);
  -ms-transform: translate(-95px, 0);
  transform: translate(-95px, 0);
}

#right-nav li:nth-child(9):hover ~ #marker {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

#right-nav li:nth-child(12):hover ~ #marker {
  -webkit-transform: translate(95px, 0);
  -moz-transform: translate(95px, 0);
  -ms-transform: translate(95px, 0);
  transform: translate(95px, 0);
}

#right-nav li:nth-child(2):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

#right-nav li:nth-child(5):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

#right-nav li:nth-child(9):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

#right-nav li:nth-child(4):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

#right-nav li:nth-child(5):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}


@media (max-width: 850px) {

  #navbar {
    padding-bottom: 9px;
    transition: 0ms;
  }
}

#navbar .icon {
  position: absolute;
  top: 20px;
  right: 30px;
  padding-top: 10px;
  display: none;
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
  transition: ease-in-out 0.4s;
}

.div-display-none {
  display: none !important;
}

.drop1 li {
  padding: 20px 0 !important;
}

@media (max-width: 850px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .display-none {
    display: none !important;
  }

  .div-display-none {
    display: block !important;
  }
  
  #navbar .icon {
    display: flex;
    text-decoration: none;
  }

  #navbar .navbar-links {
    display: none;
    width: 100%;
    margin-top: 9px;
  }

  #navbar #right-nav {
    width: 100%;
    flex-direction: row;
    height: 100%;
    text-align: center;
    background-color: #3e8760;
  }

  #navbar #right-nav ul {
    flex-direction: row;
  }

  #navbar li {                                    
    padding-bottom: 10px;
  }

  #navbar #right-nav li {
    display: block;
    text-align: center;
    margin: auto;
  }
  
  #navbar #right-nav li a {
    padding: .5rem 1rem;
  }

  #navbar #right-nav li a:hover {
    color: #33b675;
    transition: 1.5s; 
  }

  #navbar .navbar-links.active {
    display: flex;
  }

  #navbar #marker {
    display: none;
  }  

  #navbar .dropdown {
    display: none;
  }

  #navbar .drop {
    display: none;
  }

  .drop {
  overflow: hidden;
  list-style: none;
  position: absolute;
  padding: 0;
  width: 100%;
  left: 0;
  top: 66px !important;
  transition: all 10s ease-in-out;
  transition-delay: 5s;
  position: absolute;
  }
}

@media (max-width: 850px) {
  #right-nav a {
    padding: calc(100vh / 18 - 13.2px) 0 !important; 
  }
  #right-nav {
    height: 100vh !important;
  }
  #right-nav li {
    padding: 0;
    max-width: 100% !important;
    transition: ease-in-out 0.4s;
    list-style-position:inside;
    border: 1px solid #2e6346
  }
  #right-nav li:hover {
    background-color: #2e6346;
  }
}



/* Body */

.inner {
  width: calc(1250px - 10vw);
  max-width: 95%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 80px;
}

.title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 40px;
  margin-bottom: 20px;
}

/* Explanation */

.explanation-holder {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}

.explanation-image {
  flex: 1;
  padding-right: 8px;
}

.explanation-image img {
  width: 100%;
  border: 4px solid #3E8760;
}

.explanation-text {
  flex: 1;
  font-size: 19px;
  text-align: justify;
  padding-left: 8px;
}

@media (max-width: 1200px) {
  .explanation-holder {
    flex-direction: column;
  }
  .explanation-image {
    padding-bottom: 10px;
  }
}

@media (max-width: 800px) {
  .explanation-text {
    font-size: 17px;
  }
}

/* Our Mission */

h4 {
    overflow: hidden;
    text-align: center;
    margin: 30px 0 20px 0;
    font-size: 35px;
}
h4:before,
h4:after {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    opacity: 0.3;
}
h4:before {
    right: 0.5em;
    margin-left: -50%;
}
h4:after {
    left: 0.5em;
    margin-right: -50%;
}

h3 {
  text-align: center;
}

.our-mission {
  padding-bottom: 80px;
}

.container1 {
  display: flex;
  flex-direction: row;
}

.container1 div {
  flex: 1;
  padding-top: 25px;
}

.container1 p {
  font-size: 17px;
  color: rgb(218, 212, 212);
  text-align: justify;
}

.container1 .left-text {
  padding-right: 8px
}


.container1 .right-text {
  padding-left: 8px
}

@media (max-width: 600px) {
  .container1 {
    flex-direction: column;
  }
  .our-mission h3 {
    text-align: justify;
    padding: 10px 7px;
    font-size: 17px;
  }
  .container1 .left-text {
    padding: 10px 7px;
  }
  .container1 .right-text {
    padding: 10px 7px;
  }
}



/* How can we help */

.help {
  background-image: url("imgs/Events-Top-Background-Green (1).jpg");
  background-size: 88vw;
  padding-bottom: 50px;
  padding-top: 20px;
}

.container2 {
  display: flex;
  flex-direction: row;
  max-width: 60%;
  margin: 0 auto;
}

.flex-container-1, .flex-container-2 {
  width: 100%;
}

.flex-container-1 div {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 10px 5px;
  height: 170px;
  transition: ease-in-out 250ms;
  border-radius: 4%;
}

.flex-container-2 div {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 10px 5px;
  height: 170px;
  transition: ease-in-out 250ms;
  border-radius: 4%;
}

.help h1 {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 15px;
  font-size: 40px;
}

.help h2 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.flex-container-1 p {
  padding: 0 15px;
  text-align: justify;
}

.flex-container-1 a {
  color: #fff;
}

.flex-container-2 p {
  padding: 0 15px;
  text-align: justify;
}

.flex-container-2 a {
  color: #fff;
}

@media (max-width: 1300px) {
  .container2 {
    flex-direction: column;
  }
  .help {
    background-size: 100vw;
  }
}

@media (max-width: 600px) {
  .flex-container-1 div {
    height: 210px;
  }
  .flex-container-2 div {
    height: 210px;
  }
}


/* Footer */

.footer {
  background: #303036;
  color: #d3d3d3;
  height: 400px;
}

.footer .footer-content {
  height: 350px;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}



.footer .footer-content h2 {
  margin-left: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer .footer-section p {
  padding-bottom: 15px;
}

.footer .footer-section.links {
  padding-top: 50px;
}

.footer  .footer-section.contact {
  padding-top: 50px;
}

.footer .footer-content .about .contact span {
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.footer .footer-content .about .socials a {
  border: 1px solid grey;
  width: 45px;
  height: 41px;
  padding-top: 5px;
  margin-right: 5px;
  margin-top: 10px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
  color: grey;
  transition: all 300ms;
}



.footer .footer-content .about .socials a:hover {
  border: 1px solid #fff;
  color: #fff;
  transition: all 300ms;
}

.footer .footer-content ul a {
  display: block;
  margin: 10px;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  list-style-type: none;
}

.footer .footer-section.contact ul li {
  display: block;
  margin: 10px;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  list-style-type: none;
}

.footer .footer-bottom {
  background: #22292e;
  color: #686868;
  width: 100%;
  height: 50px;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  padding-top: 15px;
}

.footer .footer-content ul a:hover {
  margin-left: 15px;
  color: grey;
}

@media (max-width: 1100px) {
  .footer-section p {
    font-size: 15px;
  }
  .footer li {
    font-size: 15px
  }
}

@media (max-width: 1000px) {
  .footer-section p {
    font-size: 13px;
  }
  .footer li {
    font-size: 13px;
  }
  .footer-section.contact *:not(h2) {
    font-size: 13px;
  }
}

@media (max-width: 1000px) {
  .footer .footer-content {
    display: flex;
    flex-direction: column;
    height: 1100px;
  }
  .footer {
    height: 1100px;
  }
  .footer-section p {
    font-size: 17px;
  }
  .footer li {
    font-size: 17px;
  }
  .footer-section.contact *:not(h2) {
    font-size: 17px;
  }
}
